*{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}
.cerrar{
    display: flex;
    margin-top: -29px;
}
.btn-cerrar{
    margin: auto;
    font-size: 35px;
    color: red;
    margin-bottom: 15px;
    position: relative;
    top: 0px;
    
}
.titulo-categoriaUno{
    margin-bottom: 80px;
    text-align: center;
    font-size: 30px;
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #97c5da;
}
.titulo-categoriaUno h3{
    position: relative;
    top: 15px;
    color: #000000;
}
#searchs{
    
    width: 100%;
    height: 500px;
    display: flex;
    margin: 1rem;
    overflow-x: auto;
    
    
}
.article-search{
    min-width: 300px;
    max-width: 490px;
    ;
        height: 430px;
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        background-color: #e6d0ad;
        margin-right: 30px;
        overflow-y: hidden;
    
}
.article-search h2{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.article-search img {
    width: 100%;
}